WpfApplication1/Service References/ServiceReference2/PayMentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PayMentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:82/PayMentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:82/PayMentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPayMentService_AddPayee_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPayee" />
  </wsdl:message>
  <wsdl:message name="IPayMentService_AddPayee_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPayeeResponse" />
  </wsdl:message>
  <wsdl:message name="IPayMentService_PayBill_InputMessage">
    <wsdl:part name="parameters" element="tns:PayBill" />
  </wsdl:message>
  <wsdl:message name="IPayMentService_PayBill_OutputMessage">
    <wsdl:part name="parameters" element="tns:PayBillResponse" />
  </wsdl:message>
  <wsdl:message name="IPayMentService_UpdateBillPayment_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBillPayment" />
  </wsdl:message>
  <wsdl:message name="IPayMentService_UpdateBillPayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBillPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IPayMentService_RemovePayee_InputMessage">
    <wsdl:part name="parameters" element="tns:RemovePayee" />
  </wsdl:message>
  <wsdl:message name="IPayMentService_RemovePayee_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemovePayeeResponse" />
  </wsdl:message>
  <wsdl:portType name="IPayMentService">
    <wsdl:operation name="AddPayee">
      <wsdl:input wsaw:Action="http://tempuri.org/IPayMentService/AddPayee" message="tns:IPayMentService_AddPayee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPayMentService/AddPayeeResponse" message="tns:IPayMentService_AddPayee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PayBill">
      <wsdl:input wsaw:Action="http://tempuri.org/IPayMentService/PayBill" message="tns:IPayMentService_PayBill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPayMentService/PayBillResponse" message="tns:IPayMentService_PayBill_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBillPayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IPayMentService/UpdateBillPayment" message="tns:IPayMentService_UpdateBillPayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPayMentService/UpdateBillPaymentResponse" message="tns:IPayMentService_UpdateBillPayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemovePayee">
      <wsdl:input wsaw:Action="http://tempuri.org/IPayMentService/RemovePayee" message="tns:IPayMentService_RemovePayee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPayMentService/RemovePayeeResponse" message="tns:IPayMentService_RemovePayee_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="PayMentService" />
</wsdl:definitions>